<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Homepage</title>
</head>
<body>
    <% if(info) { %>
        <header>
            <h2><a href="/">File Uploader</a></h2>
            <div class="folder-nav-bar">
                <form action="/folders" method="GET">
                    <button type="submit" class="normal-button">Folders</button>
                </form>
                <form action="/sharedFolders" method="GET">
                    <button type="submit" class="normal-button">Shared Folders</button>
                </form>
                <form action="/logout" method="POST">
                    <button type="submit" class="normal-button">Logout</button>
                </form>
            </div>
        </header>
        <div class="main-content">
            <h1>Welcome <%= info.firstName %> to the File Uploader</h1><br>
            <h1 class="main-phrase">Effortlessly store and share your files in seconds. Fast, secure, and user-friendly - the solution for your file transfer needs</h1>
        </div>
    <% } else { %>
        <header>
            <h2><a href="/">File Uploader</a></h2>
        </header>
        <div class="main-content">
            <h1>Welcome to File Uploader</h1>
            <h2>This is the place where you can save and share your documents easily and securely</h2>
            <p>If you don't have an account <a href="/register">Create your account</a></p>
            <p>If you already have an account <a href="/login">Login in your account</a></p>
            <form action="/login" method="POST">
                <input type="hidden" name="username" id="username" value="Recruiter_Recruiter">
                <input type="hidden" name="password" id="password" value="recruiter">
                <button type="submit" class="log-reg-button">Log in as a recruiter</button>
            </form>
        </div>
    <% } %>      
</body>
</html>