<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <% if(info) { %>
        <header>
            <h1>Welcome <%= info.firstName %></h1>
            <form action="/logout" method="POST">
                <button type="submit">logout</button>
            </form>
            <a href="/folders">Look your folders here</a>
            <a href="/sharedFolders">Look folders shared for anothers users</a>
        </header>
    <% } else { %>
        <h1>Welcome to uploader file</h1>
        <p>If you don't have an account <a href="/register">Create your account</a></p>
        <p>If you already have an account <a href="/login">Login in your account</a></p>
    <% } %>
    
</body>
</html>